<div class="jankx-data-layout carousel slider" data-flickity='{ "cellAlign": "left", "contain": true }'>
    {foreach $items as $item}
        <div class="carousel-cell">
            {$item|noescape}
        </div>
    {/foreach}
</div>
