<div class="jankx-data-layout list">
    <div class="jankx-container">
        <div class="list-wrapper">
            {foreach $items as $item}
                <div class="list-item">
                    {$item|noescape}
                </div>
            {/foreach}
        </div>
    </div>
</div>
